/* Footer CSS */
.footer {
  background-color: #007bff; /* Blue color */
  color: #fff;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
